[Unit]
Description=Fast Charging Timer for ZEEKR Bridge

[Timer]
OnCalendar=*:0/10
RandomizedDelaySec=240
Persistent=true

[Install]
WantedBy=timers.target